In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('max_columns',50)
%matplotlib inline

In [18]:
# create a Series with an arbitrary list
s = pd.Series([7,'Heisenberg',3.14,-1789710578,'Happy Eating'])
s

0               7
1      Heisenberg
2            3.14
3     -1789710578
4    Happy Eating
dtype: object

In [9]:
s = pd.Series([7,'Heisenberg',3.14,-1789710578,'Happy Eating'],
              index = ['A','Z','C','Y','E'])
s

A               7
Z      Heisenberg
C            3.14
Y     -1789710578
E    Happy Eating
dtype: object

In [20]:
d = {'Chicago': 1000, 'New York': 1300, 'Portland': 900, 'San Francisco': 1100,
     'Austin': 450, 'Boston': None}
cities = pd.Series(d)
cities

Austin            450.0
Boston              NaN
Chicago          1000.0
New York         1300.0
Portland          900.0
San Francisco    1100.0
dtype: float64

In [21]:
cities['Chicago']

1000.0

In [22]:
cities[['Chicago','Portland','San Francisco']]

Chicago          1000.0
Portland          900.0
San Francisco    1100.0
dtype: float64

In [23]:
cities[cities<1000]

Austin      450.0
Portland    900.0
dtype: float64

In [27]:
less_than_1000 = cities < 1000
print(less_than_1000)
print('\n')
print(cities[less_than_1000])

Austin            True
Boston           False
Chicago          False
New York         False
Portland          True
San Francisco    False
dtype: bool


Austin      450.0
Portland    900.0
dtype: float64

In [28]:
# changing based on the index
print('Old value:', cities['Chicago'])
cities['Chicago']=1400
print('New value:', cities['Chicago'])

Old value: 1000.0
New value: 1400.0

In [31]:
# changing values using boolean logic
print(cities[cities<1000])
print('\n')
cities[cities<1000] = 750

print(cities[cities<1000])

Austin      450.0
Portland    900.0
dtype: float64


Austin      750.0
Portland    750.0
dtype: float64

In [32]:
print('Seattle' in cities)
print('San Francisco' in cities)

False
True

In [33]:
cities

Austin            750.0
Boston              NaN
Chicago          1400.0
New York         1300.0
Portland          750.0
San Francisco    1100.0
dtype: float64

In [34]:
# divide city values by 3
cities /3

Austin           250.000000
Boston                  NaN
Chicago          466.666667
New York         433.333333
Portland         250.000000
San Francisco    366.666667
dtype: float64

In [35]:
# square city values by 3
np.square(cities)

Austin            562500.0
Boston                 NaN
Chicago          1960000.0
New York         1690000.0
Portland          562500.0
San Francisco    1210000.0
dtype: float64

In [38]:
c1 = cities[['Chicago','New York','Portland']]
print(c1)
print('\n')
c2 = cities[['Austin','New York']]
print(c2)
print('\n')
print(c1+c2)

Chicago     1400.0
New York    1300.0
Portland     750.0
dtype: float64


Austin       750.0
New York    1300.0
dtype: float64


Austin         NaN
Chicago        NaN
New York    2600.0
Portland       NaN
dtype: float64

In [39]:
# returns a boolean series indicating which values aren't NULL
cities.notnull()

Austin            True
Boston           False
Chicago           True
New York          True
Portland          True
San Francisco     True
dtype: bool

In [41]:
# use boolean logic to grab the NULL cities
print(cities.isnull())
print('\n')
print(cities[cities.isnull()])

Austin           False
Boston            True
Chicago          False
New York         False
Portland         False
San Francisco    False
dtype: bool


Boston   NaN
dtype: float64

# Dataframes!

In [42]:
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions', 'Lions', 'Lions'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4],
        'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
football = pd.DataFrame(data, columns = ['year','team','wins','losses'])
football

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

In [46]:
%cd C:\Users\BernardoMesa\ds\metis\metisgh\prework\dsp\python\pandas
# Source: baseball-reference.com/players/r/riverma01.shtml
!head -n 5 mariano-rivera.csv

C:\Users\BernardoMesa\ds\metis\metisgh\prework\dsp\python\pandas

'head' is not recognized as an internal or external command,
operable program or batch file.

In [47]:
from_csv = pd.read_csv('mariano-rivera.csv')
from_csv.head()

,Year,Age,Tm,Lg,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W,Awards
0,1995,25,NYY,AL,5,3,0.625,5.51,19,10,2,0,0,0,67.0,71,43,41,11,30,0,51,2,1,0,301,84,5.15,1.507,9.5,1.5,4.0,6.9,1.70,NaN
1,1996,26,NYY,AL,8,3,0.727,2.09,61,0,14,0,0,5,107.2,73,25,25,1,34,3,130,2,0,1,425,240,1.88,0.994,6.1,0.1,2.8,10.9,3.82,CYA-3MVP-12
2,1997,27,NYY,AL,6,4,0.600,1.88,66,0,56,0,0,43,71.2,65,17,15,5,20,6,68,0,0,2,301,239,2.96,1.186,8.2,0.6,2.5,8.5,3.40,ASMVP-25
3,1998,28,NYY,AL,3,0,1.000,1.91,54,0,49,0,0,36,61.1,48,13,13,3,17,1,36,1,0,0,246,233,3.48,1.060,7.0,0.4,2.5,5.3,2.12,NaN
4,1999,29,NYY,AL,4,3,0.571,1.83,66,0,63,0,0,45,69.0,43,15,14,2,18,3,52,3,1,2,268,257,2.92,0.884,5.6,0.3,2.3,6.8,2.89,ASCYA-3MVP-14

In [48]:
# loading csv data defining headings
cols = ['num', 'game', 'date', 'team', 'home_away', 'opponent',
        'result', 'quarter', 'distance', 'receiver', 'score_before',
        'score_after']

no_headers = pd.read_csv('peyton-passing-TDs-2012.csv', sep = ',', header=None,
                        names = cols)

no_headers.head()

,num,game,date,team,home_away,opponent,result,quarter,distance,receiver,score_before,score_after
Rk,Date,G#,Week,Tm,NaN,Opp,Result,Quarter,Dist,Scorer/Receiver,Score Before,Score After
1,2012-09-09,1,NaN,DEN,NaN,PIT,W 31-19,3,71,Demaryius Thomas,Trail 7-13,Lead 14-13*
2,2012-09-09,1,NaN,DEN,NaN,PIT,W 31-19,4,1,Jacob Tamme,Trail 14-19,Lead 22-19*
3,2012-09-17,2,NaN,DEN,@,ATL,L 21-27,2,17,Demaryius Thomas,Trail 0-20,Trail 7-20
4,2012-09-23,3,NaN,DEN,NaN,HOU,L 25-31,4,38,Brandon Stokley,Trail 11-31,Trail 18-31

In [50]:
# writing and reading to excel format
football.head()

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5

In [60]:
# since our index on the football DataFrea is meaningless, let's not write it
football.to_excel('football.xlsx', index=False)

In [61]:
!dir -l *xlsx

 Volume in drive C is Windows
 Volume Serial Number is E0FE-3288

 Directory of C:\Users\BernardoMesa\ds\metis\metisgh\prework\dsp\python\pandas


 Directory of C:\Users\BernardoMesa\ds\metis\metisgh\prework\dsp\python\pandas

06/08/2017  02:04 PM             5,588 football.xlsx
               1 File(s)          5,588 bytes
               0 Dir(s)  406,777,831,424 bytes free

In [62]:
# delete the Data Frame
del football

In [63]:
#read from Excel
football = pd.read_excel('football.xlsx','Sheet1')
football

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

# Connecting to a sqlite3 database

In [70]:
from pandas.io import sql
import sqlite3

conn = sqlite3.connect('C:\Users\BernardoMesa\ds\metis\metisgh\prework\dsp\python\pandas\chinook\chinook')
query = "SELECT * FROM media_types;"

results = sql.read_sql(query, con=conn)
results = head()

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-70-fd253e833d40>, line 4)

# Reading from clipboard

In [74]:
# Copy table onto clipboard
mar = pd.read_clipboard()
mar.head()

,1995,25,NYY,AL,5,3,.625,5.51,19,10,2,0,0.1,0.2,67.0,71,43,41,11,30,0.3,51,2.1,1,0.4,301,84,5.15,1.507,9.5,1.5,4.0,6.9,1.70,Unnamed: 34
0,1996,26,NYY,AL,8,3,0.727,2.09,61,0,14,0,0,5,107.2,73,25,25,1,34,3,130,2,0,1,425,240,1.88,0.994,6.1,0.1,2.8,10.9,3.82,"CYA-3,MVP-12"
1,1997,27,NYY,AL,6,4,0.600,1.88,66,0,56,0,0,43,71.2,65,17,15,5,20,6,68,0,0,2,301,239,2.96,1.186,8.2,0.6,2.5,8.5,3.40,"AS,MVP-25"
2,1998,28,NYY,AL,3,0,1.000,1.91,54,0,49,0,0,36,61.1,48,13,13,3,17,1,36,1,0,0,246,233,3.48,1.060,7.0,0.4,2.5,5.3,2.12,NaN
3,1999,29,NYY,AL,4,3,0.571,1.83,66,0,63,0,0,45,69.0,43,15,14,2,18,3,52,3,1,2,268,257,2.92,0.884,5.6,0.3,2.3,6.8,2.89,"AS,CYA-3,MVP-14"
4,2000,30,NYY,AL,7,4,0.636,2.85,66,0,61,0,0,36,75.2,58,26,24,4,25,3,58,0,0,2,311,170,3.28,1.097,6.9,0.5,3.0,6.9,2.32,AS